<div class="odk-screen{{#unless disableSwipeNavigation}}{{#if enableNavigation}}{{#if enableForwardNavigation}} swipeForwardEnabled{{/if}}{{#if enableBackNavigation}} swipeBackEnabled{{/if}}{{/if}}{{/unless}}" >
    {{#if showHeader}}
        <div class="odk-nav-table-top">
            <div class="odk-nav-exit-button">
                <a class="odk-options-btn odk-nav-btn btn" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="odk-nav-form-title">
                {{localize form_title}}
            </div>
            <div class="odk-nav-exit-button">
            </div>
        </div>
        <div class="odk-nav-table-bottom">
            <div class="odk-nav-prev-button">
                <a class="odk-prev-btn odk-nav-btn btn">  PREV</a>
            </div>
            <div class="odk-nav-page-progress">
                {{page_progress}}
            </div>
            <div class="odk-nav-next-button">
                <a class="odk-next-btn odk-nav-btn btn"> NEXT </a>
            </div>
        </div>

    {{/if}}
    <div class="odk-scroll"><div class="odk-container container"></div>
</div>

{{#if showFooter}}
    <div class="row odk-footer container">
        <div class="my-breakpoint {{#if hideNavigationButtonText}}my-breakpoint-no-nav-btn-text{{/if}}">
            <div class="col-xs-3 odk-footer-back-btn ">
                <a class="odk-prev-btn btn btn-default btn-lg navbar-btn {{#unless enableBackNavigation}}disabled{{/unless}}" tabindex="0">
                {{#unless hideNavigationButtonText}}<span class="glyphicon glyphicon-chevron-left" style="float:left"></span> back {{/unless}}</a>
            </div>
            <div class="col-xs-6">

            </div>
            <div class="col-xs-3 odk-next-btn">
                <a class="odk-next-btn btn btn-default btn-lg navbar-btn {{#unless enableForwardNavigation}}disabled{{/unless}}" tabindex="0" >
                {{#unless hideNavigationButtonText}}{{#if showAsContinueButton}}continue {{else}}next{{/if}}<span class="glyphicon glyphicon-chevron-right" style="float:right"></span>{{/unless}}</a>
            </div>
        </div>
    </div>
{{/if}}

</div>
